@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.search {
  width: 100%;
  display: flex;
  margin: 20px 0;
}

.searchTerm {
  width: 100%;
  border: 3px solid #666666;
  border-right: none;
  padding: 5px;
  height: 28px;
  border-radius: 15px 0 0 15px;
  outline: none;
  color: #666666;
}

.searchTerm:focus{
  color: #666666
}

.searchButton {
  width: 40px;
  height: 44px;
  border: 1px solid #666666;
  background: #666666;
  text-align: center;
  color: #fff;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  font-size: 20px;
}

